.firstContainer {
  #iwrg {
    .container-width {
      width: 90%;
      max-width: 1150px;
      margin: 0 auto;
      .logo-container {
        float: left;
        width: 50%;
      }
      .menu {
        float: right;
        width: 50%;
        color: #000000;
        opacity: 1;
      }
      .clearfix {
        clear: both;
      }

      .lead-title {
        margin: 20px 0 20px 0;
        font-size: 40px;
      }
    }
  }
  .row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding: 10px;
    .cell {
      min-height: 75px;
      flex-grow: 1;
      flex-basis: 100%;
      #ihaa3 {
        color: black;
        width: 25%;
      }
    }
  }
  .flex-desc {
    margin-bottom: 55px;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0 0 0 0;
  }
  #i8qo4l {
    padding: 10px;
  }
  #i92tj {
    text-align: center;
  }

  #iakyi {
    color: black;
    width: 10%;
  }
  #iurff {
    padding: 10px;
  }
}

@media (max-width: 992px) {
  .firstContainer {
    .menu {
      display: flex;
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: flex-start;
      flex: 0 1;
    }
    .flex-desc {
      display: inline;
    }
  }
}

@media (max-width: 768px) {
  .firstContainer {
    .row {
      flex-wrap: wrap;
    }
  }
}

@media (max-width: 480px) {
  .firstContainer {
    #inaj {
      font-size: 20px;
      margin: 20px 0 0 0;
      color: #2a6df4;
    }
    #ihaa3 {
      width: 40%;
    }
    #iakyi {
      width: 15%;
    }
    .lead-title {
      font-size: 27px;
    }
  }
}
